<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO FINAL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.1.min.css" type="text/css">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.1.min.js"></script>
    <style>
        body {
            background-color: #121212;
            color: #ffffff;
        }
        .form-label, .form-select, .btn-primary {
            color: #ffffff;
        }
        .form-select, .form-control {
            background-color: #333333;
            border-color: #555555;
            color: #ffffff;
        }
        .btn-primary {
            background-color: #1f78d1;
            border-color: #1f78d1;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Bienvenido</h1>
        <h5>Por favor selecciona el método que quieres usar</h5>
        <form action="" method="get">
            <div class="mb-3">
                <label for="opciones" class="form-label">Selecciona una opción:</label>
                <select class="form-select" id="opciones" aria-label="Selecciona una opción" name="metodo">
                    <option value="newton" {% if metodo == 'newton' %}selected{% endif %}>Newton</option>
                    <option value="secante" {% if metodo == 'secante' %}selected{% endif %}>Secante</option>
                    <option value="biseccion" {% if metodo == 'biseccion' %}selected{% endif %}>Bisección</option>
                    <option value="puntofijo" {% if metodo == 'puntofijo' %}selected{% endif %}>Punto Fijo</option>
                    <option value="busquedaincremental" {% if metodo == 'busquedaincremental' %}selected{% endif %}>Búsqueda Incremental</option>
                    <option value="reglafalsa" {% if metodo == 'reglafalsa' %}selected{% endif %}>Regla Falsa</option>
                    <option value="raicesmultiples2" {% if metodo == 'raicesmultiples2' %}selected{% endif %}>Raíces Múltiples</option>
                    <option value="jacobi" {% if metodo == 'jacobi' %}selected{% endif %}>Jacobi</option>
                    <option value="seidel" {% if metodo == 'seidel' %}selected{% endif %}>Gauss-Seidel</option>
                    <option value="sor" {% if metodo == 'sor' %}selected{% endif %}>SOR</option>
                    <option value="vandermonde" {% if metodo == 'vandermonde' %}selected{% endif %}>Vandermonde</option>
                    <option value="newtonInterpolante" {% if metodo == 'newtonInterpolante' %}selected{% endif %}>Newton Interpolante</option>
                    <option value="lagrange" {% if metodo == 'lagrange' %}selected{% endif %}>Lagrange</option>
                    <option value="splineLineal" {% if metodo == 'splineLineal' %}selected{% endif %}>Spline Lineal</option>
                    <option value="splineCubico" {% if metodo == 'splineCubico' %}selected{% endif %}>Spline Cubico</option>                           
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Seleccionar método">
            <br><hr class="my-4"><br>
            {% if div or tabla_resultado %}
                <div class="row">
                    {% if div %}
                        <div class="col-md-6">
                            <h1>Gráfica</h1>
                            {{ div | safe }}
                            {{ script | safe }}
                        </div>
                    {% endif %}
                    {% if tabla_resultado %}
                        <div class="col-md-6">
                            <h1>Tabla de resultados</h1>
                            {{ tabla_resultado|safe }}
                        </div>
                    {% endif %}
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Descargar resultados (txt)" name="descargar">
                <br>
                <hr>
            {% endif %}
            {% if metodo %}
                <h3>Variables del método</h3><br>
                {% for variable in variables_metodo %}
                    <div class="mb-3">
                        <label for="campoTexto" class="form-label">{{ variable }}</label>
                        <textarea class="form-control" id="campoTexto" rows="3" name="{{ variable }}_entrada"></textarea>
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Calcular">
                <br>
            {% endif %}
        </form>
    </div>
</body>
</html>
